.movie_container, .movie_container img {
	height: 375px;
	width: 250px;
	display: inline-block;
	background: black;
}

.movie_info {
	display: none;
	position: absolute;
	height: 375px;
	width: 250px;
	z-index: 1;
}
.movie_options {
	position: absolute;
	width: 100%;
	bottom: 5px;
}
.movie_options button{
	background-color: #333333;
	color: white;
	padding: 5px;
	border: 1px solid #888;
	width: 50%;
	font-size: 14px;
}
.fade_image {
	opacity: 0.2;
}

.movie_catalog {
	text-align: center;
	margin: 0 auto;
}

.searchbar {
	display: none;
}
.searchbar  input{
	width: 100%;
	color: white;
	background: black;
	border: none;
	border-bottom: 2px solid white;
	padding: 10px 0px;
}
.searchbar input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
}
.searchbar input:-webkit-autofill,
.searchbar input:-webkit-autofill:hover, 
.searchbar input:-webkit-autofill:focus, 
.searchbar input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px black inset;
}